.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#about {
  background-color: #ffffff;
}

#projects {
  background-color: #e2edff;
}

#contact {
  background-color: #ffffff;
}

section {
  padding-top: 5rem;
}
